body {
    margin: 0;
    background-color: white;
}

* {
    box-sizing: border-box;
}

header {
    background-color: orangered;
    padding: 5px;
    margin-bottom: 20px;
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
}

.main-layout {
    max-width: 1000px;
}

.logo {
    width: 152px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.images-container {
    margin-top: 10px;
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.search-bar {
    width: 100%;
    height: 1.5rem
}

.images-container img {
    /* position: absolute; */
    width: 200px;
    border-radius: 10px;
    top: 10px;
}

.images-container img:hover {
    /* border: 0.5px solid black; */
    box-shadow: 0.5px 0.5px 0.5px 0.5px ;
}


button img, label img {
    width: 15px;
    height: 15px;
}

.meme-editor {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgb(220, 220, 220);
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: transform .5s;
    z-index: 5;
    padding-top: 20px;
    border-bottom:100px solid orangered;
    border-top:20px solid orangered;
}

.editor-layout {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 860px) {
 
}

.meme-editor.open {
    transform: translateX(0);
}

#close-editor {
    align-self: flex-start;
}

.color-section {
    display: flex;
    justify-content: space-evenly;
    background-color: orangered;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    width: 80%;
}

label input {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.keywords-section {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-left: 5px
}


.keywords-container li {
    margin: 0 5px;
    height: 5rem;
    color: orangered;
}

.keywords-container {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.editor-toolbox {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 250px;
    height: 50vh;
}

.editor-toolbox>* {
    margin: 5px auto;
}

@media (max-width: 1060px) {
    .main-layout {
        max-width: 700px;
    }
}

@media (max-width: 860px) {
    body {
        font-size: 14px;
    }

    .main-layout {
        max-width: 500px;
        min-width: 200px;
    }

    .meme-editor {
        border-bottom: 20px solid orangered;
    }

    .editor-layout {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    }

    .keywords-section {
    }
}
